.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  top: 0;
  box-shadow: 0 0 10px rgb(64, 27, 138);
}

:root {
  --bg-color-light: #fff;
  --text-color-light: #000;
  --bg-color-dark: #000;
  --text-color-dark: #fff;
}
.light-theme .header-bg {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}
.header img {
  width: 70px;
  height: auto;
}
.dark-theme .header-bg {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
.logo-container {
  display: flex;
  align-items: center;
}

.header-bg {
  transition: 0.5s;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}
.icon {
  display: inline-block; /* Make the icon button a flex container */
  align-items: center; /* Align items vertically in the icon container */
  padding: 0 1rem;
  border: none;
}
.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
}
.hamburger {
  display: none;
}

.hoverElement:hover {
  color: rgb(64, 27, 138);
  /* scale: 1.25; */
}

@media screen and (max-width: 1040px) {
  :root {
    --icon-color: #000;
  }
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--bg-color-light);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }
  .icon {
    background-color: var(--bg-color-light);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }

  .hamburger {
    display: initial;
    color: var(--icon-color);
  }
}
